extends ../layout/layout.pug

block content
    h1 User
    
    a.btn.btn-primary.ml-2(href="/users/creat") Creat user
    
    form(action="/users/search", method="get", class="form-group d-flex" )
        input(type='text', name='q', class="form-control")
        button(class="btn btn-primary ml-2") search
    table.table
        th Name
        th Phone
        th 
        each user in users
            tr
                td= user.name
                td= user.phone
                td
                    a(href='/users/' + user.id) View