extends ../layout/layout.pug

block content

    table.table
        
        th Number
        th ID
        th Content
        th Time
        th Status
        th
            tr 
                td
                td
                td
                td
                td
                td
                    a.btn.btn-light(href='#') Fixed