extends ../layout/layout.pug

block content
    button.mb-2.pb-10.btn.btn-primary(type='button') Export

    table.table
        th Name
        th ID
        th Price
        th amount
        th Vendor
            tr
        
            tr 
                td Total revenue
                td
                td
                td
                td
