extends ../layout/layout.pug
block content
    h1 Edit
     if request
        each req in request
            .alert.alert-danger= req 
    form.d-flex.flex-column.form-group(action="/users/creat", method="post", enctype="multipart/form-data" )
        
        label(for="name") Name
        input.form-control#name(type="text", name="name",value=value?value.name:"")
        
        label(for="phone") Price
        input.form-control#phone(type="text", name="phone", value=value?value.phone:"")
        
        label(for="pass") Vendor
        input.form-control#pass(type="text", name="pass", value=value?value.pass:"")
        
        label(for='exampleFormControlFile1') Image
        input.w-auto.form-control-file(type='file', name="avatar" )
        .d-flex.flex-row.mr-auto
            button.mr-1.btn.btn-primary.mt-2 Save
            button.mr-auto.btn.btn-primary.mt-2 Exit